*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Selector de tipo clase . */
.navegacion{
    background-color: #293387;
    /* background-color: #F58634; */
    /* background-color: #2d2284; */
    /* background-color: #3999d4; */
    /* background-color: #71bfea; */
    /* background-color: #347cb8; */
    /* background-color: #53589b; */
    /* background-color: #0c67b0; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 0 20px; */
    /* margin: 0 0 10px 0; */
    /* height: 90px; */
    /* flex-wrap: wrap; */
}

/* Selector combinado entre clase y etiqueta */
.navegacion ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.navegacion li{
    padding: 0 10px;
}

/* .navegacion a{
    color: white;
    text-decoration: none;
} */

.navegacion img{
    width: 60px;
    height: auto;
}

main h1{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.card{
    text-align: center;
    align-items: center;
}

.card img{
    width: 240px;
    height: 240px;
}
.seccion1-index .imagen-grande img{
    width: 1263px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 250px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h3 {
    margin-top: 10px;
  }

/**** Nosotros ****/
.sobre-nosotros{
    background-image: linear-gradient( to right, transparent 50%, #F58634 50%, #F58634 100% ), url(../resources/hella-179-scaled.jpg);
    background-position: left center;
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: contain; 
    /* 100%, 120rem */
}

.sobre-nosotros-grid{
    display: flex;
    justify-content: flex-end;
}

.texto-nosotros{
    flex-basis: 50%;
    padding: 0 5rem;
    text-align: justify; /* Alinea el texto justificado */
}

/* Estilo para el contenedor de las imágenes */
.nosotros-imagenes {
    display: flex; /* Utilizamos flexbox para alinear las imágenes */
    justify-content: center; /* Centramos horizontalmente las imágenes */
    gap: 60px; /* Espacio entre las imágenes */
    padding: 60px;
}

/* Estilo para cada artículo que contiene una imagen */
.nosotros-imagenes article {
    flex: 1; /* Cada artículo ocupará un tercio del espacio disponible */
    max-width: 300px; /* Establecemos un ancho máximo para las imágenes */
}

/* Estilo para las imágenes */
.nosotros-imagenes img {
    width: 100%; /* Las imágenes ocuparán todo el ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

.pie{
    /* background-color: blueviolet; */
}

.pie img{
    width: 60px;
    height: auto;
}

.bi {
    font-size: 1.25em;
    margin: 0 .5em;
}



textarea{
    resize: none;
}


/* Media queries para diseño responsivo */
@media screen and (max-width: 768px) {
    .texto-nosotros {
        flex-basis: 100%;
        padding: 0 2rem;
    }
    .nosotros-imagenes {
        flex-wrap: wrap;
    }
    .nosotros-imagenes article {
        flex: 1 0 50%; /* Dos imágenes por fila en dispositivos pequeños */
    }
}